# Gnome 3 - based on https://blog.samalik.com/make-your-gnome-title-bars-smaller/
.header-bar.default-decoration {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.8em;
}
.header-bar.default-decoration .button.titlebutton {
    padding: 0px;
}

# Gnome 3.20+ - based on https://blog.samalik.com/make-your-gnome-title-bar-smaller-fedora-24-update/
window.ssd headerbar.titlebar {
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 0;
}
window.ssd headerbar.titlebar button.titlebutton {
    padding: 0px;
    min-height: 0;
    min-width: 0;
}

# Window border

decoration {
  border: 4px solid gray;
  background: gray;
}

@define-color bg-grey #222;
@define-color active-grey #333;
@define-color border-grey #555;

TerminalWindow .notebook {
   border: 0;
   padding: 0;
   color: #eee;
   background-color: shade(@active-grey, 1);
}

TerminalWindow .notebook tab:active {
   border: 4px solid @border-grey;
   background-color: shade(@active-grey, 1);
}

TerminalWindow .notebook tab {
   background-color: shade(@bg-grey, 1);
}

TerminalWindow .notebook .button,
TerminalWindow .notebook .button:active {
   padding: 2 2 2 10;
   background-image: none;
   border: 0;
}
